<p style="color: green"><%= notice %></p>

<div class="container mt-4 mb-4">
  <h1>Posts</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card">
        <%= render post %>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "btn btn-primary" %>
